.Lottery-Numbers{
    display: flex;
    justify-content: center;
    margin: 50px 0px;

}

.btn{
    height: 75px;
    width: 200px;
    border: 0px;
    color: white;
    background-color: dimgrey;

}

