.Number{
    width: 50px;
    border: 2px solid black;
    height: 50px;
    border-radius: 50%;
    line-height: 240%;
    margin: 20px;
    background-color: goldenrod;
    font-size: 1.2em;
    font-weight: bold;
}

.pink{
    background-color: pink;
}

.green {
    background-color: greenyellow;
}

.blue {
    background-color: aquamarine;
}

.grey {
    background-color: gray;
}